<!-- 
<div id="container">
  <div id="title">
      <h1>Lloyds Auto</h1>
  </div>
</div> -->
<div id="top">
    <div id="logo"></div>
    <div id="contact"></div>
</div>

<div id="main">
  <div id="slideshowContainer">
    <div class="mySlides fade">
      <img src="assets\car1.jpeg">
      <!-- <div class="text">Caption Text</div> -->
    </div>
    <div class="mySlides fade">
        <img src="assets\car1.jpeg">
        <!-- <div class="text">Caption Two</div> -->
    </div>
    <div class="mySlides fade">
        <img src="assets\car1.jpeg">
        <!-- <div class="text">Caption Three</div> -->
    </div>
  </div>
  <br>
</div>

<div id="nav">
    <div id="nav-content">
      <app-navbar></app-navbar>
    </div>
</div>

<div id="custRev"></div>