<!-- <div id="container">
  <div id="title"> -->
<!-- <h1>Lloyds Auto</h1> -->
<!-- </div> -->
<div id="top">
  <div id="logo">
    <div id="pic">
      <img src="assets\carLloyds.JPG"
           style="width: 60px;height:50px;">
    </div>
  </div>
  <div id="contact">
    <div id="phoneicon">
      <img src="assets\phoneiconlloyds.JPG" style="width: 20px; height: 20px;">
      <span style="text-align: center; padding: 20px;">704-568-8135</span>
    </div>
  </div>
  <div id="direction">
    <div id="droppin">
      <img src="assets\droppinLloyds.JPG" style="width: 20px; height: 20px;">
      <span style="text-align: center; padding: 20px;">7852 Pence Rd, Charlotte, NC 28215</span>
    </div>
  </div>
</div>
<div id="image">
  <div id="card">
    <div id="title-card">
      <div id="main" style="color:#038cb8">
        Lloyds Auto
      </div>
    </div>
    <div id="nav">
      <div id="nav-content">
        <!-- <div id="nav-content" style= -->
        <app-navbar></app-navbar>
      </div>
    </div>

    <div id="slide">
      <div class="slideshowContainer">
        <div class="mySlides fade">
          <img src="assets\Hyundai.jpg" style="width: 600px; height:400px;" class="center">
          <div class="center">Hyundai</div>
          <a class="prev" onclick="plusSlides(-1)">&#10094;</a> <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <!-- </div>  -->
        <div class="mySlides fade">
          <img src="assets\Scion.jpeg" style="width: 600px; height:400px;" class="center">
          <div class="center">Scion</div>
          <a class="prev" onclick="plusSlides(-1)">&#10094;</a> <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>

        <!-- </div> -->
        <div class="mySlides fade">
          <img src="assets\Toyota.jpg" style="width: 600px; height: 400px;" class="center"> <div>
            <div class="center">Toyota</div>
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a> <a class="next" onclick="plusSlides(1)">&#10095;</a>
          </div>
          <!-- <br> -->
          <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
          </div>
        </div>

        <div id="custRev">
          <div id="googlemap">
            <img src="assets\Lloyds Auto Map.JPG" style="width: 600px; height: 400px;" class="center">
            <div class="center">GET DIRECTIONS Address 7852 Pence Rd Charlotte, NC 28215 United States</div>
          </div>
        </div>
      </div>
