<div id="image">
  <div id="title-card">
    <div id="main" style="color:#038cb8">
      Cars for Sale
    </div>
  </div>
  <div id="nav-card">
  <div id="nav">
    <div id="nav-content">
      <app-navbar></app-navbar>
    </div>
  </div>
    </div>
  <div id="wrapper">
    <div id="card">
      <div id="description">
        <h1 style="color:#038cb8">Toyota Camry</h1>
        <h3>Transmission: Automatic</h3>
        <h3>Miles: 130,000</h3>
        <h3>Color: Red</h3>
      </div>
      <img src="https://st.motortrend.com/uploads/sites/10/2017/08/2018-Ford-F-150-front-three-quarter-in-motion-07.jpg" id="pic" />
    </div>

    <div id="card">
      <div id="description">
        <h1 style="color:#038cb8">Ford F-150</h1>
        <h3>Transmission: Manual</h3>
        <h3>Miles: 80,000</h3>
        <h3>Color: Blue</h3>
      </div>
      <img src="https://st.motortrend.com/uploads/sites/10/2017/08/2018-Ford-F-150-front-three-quarter-in-motion-07.jpg" id="pic" />
    </div>
  </div>

  <div id="wrapper">
    <div id="card">
      <div id="description">
        <h1 style="color:#038cb8">Toyota Highlander</h1>
        <h3>Transmission: Automatic</h3>
        <h3>Miles: 170,000</h3>
        <h3>Color: Blue</h3>
      </div>
      <img src="https://st.motortrend.com/uploads/sites/10/2017/08/2018-Ford-F-150-front-three-quarter-in-motion-07.jpg" id="pic" />
    </div>

    <div id="card">
      <div id="description">
        <h1 style="color:#038cb8">BMW</h1>
        <h3>Transmission: Manual</h3>
        <h3>Miles: 200,000</h3>
        <h3>Color: White</h3>
      </div>
      <img src="https://st.motortrend.com/uploads/sites/10/2017/08/2018-Ford-F-150-front-three-quarter-in-motion-07.jpg" id="pic" />
    </div>
  </div>
  </div>
