<div style="background-color:#cccccc">
<div id="card">
  <div id="main" style="color:#038cb8">
    Contact Us
  </div>
  <div>
    <h3 style="font-family: 'Palatino Linotype';">We treat our customers the way we would want to be treated</h3>
  </div>
</div>
<div id="card">
  <div id="nav">
    <div id="nav-content">
      <app-navbar></app-navbar>
    </div>
  </div>
</div>
  <div id="card" style="padding-bottom:5px">
  <div id="form">
    <h1 style="color:#038cb8">Phone</h1>
    <h3>(704) 568-8135</h3>
  </div>
  </div>
<div id="card">
  <div id="form">
    <h1 style="color:#038cb8">Hours of Operation</h1>
    <div id="addy">
      <h3>Lloyds Auto Sales</h3>
      <h3>7852 Pence Rd</h3>
      <h3>Charlotte, NC</h3>
      <h3>28215</h3>
    </div>
  </div>
  <div id="wrapper">
    <div id="days">
      <h3> Monday:</h3>
      <h3> Tuesday:</h3>
      <h3> Wednesday:</h3>
      <h3> Thursday:</h3>
      <h3> Friday:</h3>
      <h3> Saturday:</h3>
      <h3> Sunday:</h3>
    </div>
    <div id="hours">
      <h3>9:00AM - 5:00PM</h3>
      <h3>9:00AM - 5:00PM</h3>
      <h3>9:00AM - 5:00PM</h3>
      <h3>9:00AM - 5:00PM</h3>
      <h3>9:00AM - 5:00PM</h3>
      <h3>9:00AM - 3:00PM</h3>
      <h3>Closed</h3>
    </div>
  </div>
  </div>
  <div id="card">
    <div id="form">
      <h1 style="color:#038cb8">Directions</h1>
      <h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13037.765051879267!2d-80.700078!3d35.220384!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x89aa11112fa6813a!2sLloyd&#39;s+Auto+Sales!5e0!3m2!1sen!2sus!4v1554247915015!5m2!1sen!2sus"
                width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </h3>
    </div>
  </div>
  </div>
